h1 {
    color: rgb(34, 78, 155);
    font-size:70px ;
    margin-left: 50px ;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-bottom: 2em;
 }

h2{
    color: rgb(15, 175, 175);
    font-size: 30px;
}
#titulo {
    color: blue;
}
.tituloh2{
    color: blueviolet;
}

 header {
    background-color: rgb(176, 158, 220);
    width: 300px;

 }
 main{
    background-color: rgb(239, 209, 173);
 }
 footer{
    background-color: rgb(218, 205, 230);
 }
 body {
    background-color: black;
 }

.contenedordesecciones{
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.seccion1 {
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seccion2{
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;

}

.seccion2:hover{
    background-color: lightcoral;
}